<div class="row">
  <div class="col-xs-3 col-xs-offset-1">
    <%= image_tag 'tweety.gif', class: "img-responsive" %>


    <%= render partial: 'new_tweet_form' %>

  </div>

  <div id="js--all-tweets" class="col-xs-4">
    <%= render partial: 'tweets', locals: {tweets: @tweets} %>
  </div>
</div>
