<div class="row">
  <div class="col-xs-3 col-xs-offset-1">
    <%= image_tag 'tweety.gif', class: "img-responsive" %>


    <%= render partial: 'new_tweet_form' %>

  </div>

  <h2>Your Timeline</h2>
  
  <div id="js--timeline" class="col-xs-4">

  <% @tweets.each do |tweet| %>
    <%= render partial: 'single_tweet', locals: {tweet: tweet} %>
  <% end %>
  </div>
</div>
